<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="left">
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。</br>
        </p>
        <p class="left">
          <span style="font-size:30px;">新着商品</span>
      <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= attachment_image_tag item, :image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        <td><%= item.name %></td>
        <td>¥<%= item.price %></td>
      </tr>
      <% end %>

        </p>
      </div>
    </div>
  </div>
</main>