<main>
  <p id="notice"></p>

  <div class="col-md-8 offset-md-1">
    <h5>注文履歴一覧</h5>
    <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</main>
