<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5>注文履歴詳細</h5>
        <br>
        <table border=0>
          <tr><td> 注文情報
        <table border>
          <tr>
            <td>注文日　　　　　</td>
            <td></td>
          </tr>
          <tr>
            <td>配送先　　　　　　</td>
            <td></td>
          </tr>
          <tr>
            <td>支払方法　　　　　</td>
            <td></td>
          </tr>
        </table>
        <!-- <br> --> 　　　
          </td>
          <td valign="top"> 請求情報
        <table border>
          <tr>
            <td>商品合計　　　　　</td>
            <td></td>
          </tr>
          <tr>
            <td>配送料　　　　　　</td>
            <td></td>
          </tr>
          <tr>
            <td>ご請求額　　　　　</td>
            <td></td>
          </tr>
        </table>
        </td></tr>
        </table>
        <div class="p-3"></div>
        <thead>
          注文内容
          <table border="1">
            <tr>
              <td>商品　　　　　　　　　　</td>
              <td>単価(税込)　　　</td>
              <td>個数　　</td>
              <td>小計　　</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </thead>
      </div>
    </div>
  </div>
</main>