<main>
  <p id="notice"></p>

<div class="row">
  <div class="col-md-5 offset-md-3">
<h2>ジャンル編集</h2>

<%= form_with model: @genre, url:edit_admin_item_path, local:true do |f| %>

<div class="form-group">
  <label for="name">ジャンル名</label>
  <br>
　<%= f.text_field :name　, autofocus: true, id:"" %>
  </br>
</div>

<div class="form-group">
  <%= f.submit "変更を保存", class: "btn btn-success" %>
</div>

<% end %>