<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-5"></div>
        <h5>ジャンル編集</h5>
        </br>
        <%= form_with model: @genre, url:admin_genre_path, local:true do |f| %>
        <div class="form-group row">
          <label for="name" class="col-sm-2">ジャンル名</label>
          <div class="col">
            <%= f.text_field :name %>
          　<%= f.submit "変更を保存", class: "btn btn-success" %>
        　</div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</main>